*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
  
    background-color: rgb(238, 221, 193);
   background-image: url(splash.png);
  background-size: cover;
 background-position: center;
 
}

.navcont{
 
margin-top: 20px;
background-image: linear-gradient(to left, rgb(83, 43, 3), rgb(243, 194, 109));
border: 2px solid rgb(207, 192, 169);
box-shadow: -10px 18px 15px 2px rgba(182, 157, 137, 0.714);
border-radius: 50px;
  
   
    display: flex;
    justify-content: space-between;
    
    


   
} 
#logo{
    display: flex;
    justify-content: flex-start;
}
#brand{
    padding: 15px;
    font-family: sans-serif;
    font-size: 22px;
    color: rgb(102, 65, 20);
    
    
}


#navlist{
   
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    margin: 20px;
    font-size: large;
    
   
   

}
.link{
    border: 1px solid rgb(177, 142, 52);
    border-radius: 20px;
    text-decoration: none;
   
   
    margin-left: 5px;
    background-color: rgb(177, 142, 52);
    color: aliceblue;
    padding: 8px;
    transition-property: all;
    transition-duration: 5s;
    transition-delay: 0s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    
    
    
}
.link:hover{
   background-color: rgb(61, 31, 2);
 
  
    
}
.hero{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.typing{
    color: rgb(254, 253, 253);
    text-shadow: 1px 1px 4px rgb(192, 173, 149);
    font-size: 5rem;
    border-right: 5px solid rgb(43, 22, 2) ;
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    animation: type 8s  steps(15) alternate ;
    animation-iteration-count: infinite;
    
 
    
  
 
}
@keyframes type {
    0%{
        width:0;
        text-shadow:  1px 1px 4px rgb(192, 173, 149);
    }
    50%{
        width:90%;
        text-shadow: 3px 3px 6px  rgb(192, 173, 149);
    }
}



.footer{
   background-image: linear-gradient(to left, rgb(83, 43, 3), rgb(243, 194, 109));
    height: 100px;
    text-align: center;
    color: aliceblue;
}


   
